[defaults]

# Don't gather facts unless told to as network devices don't support setup module
gathering = explicit

# default inventory
inventory = inventory.yml

# disable sundry file creation
retry_files_enabled = false

# changes stdout to a much more human readable yaml (instead of unprettied json)
stdout_callback = yaml
# hide skipped hosts for tasks
display_skipped_hosts = false

# Inventory Plugins
enable_plugins = yaml, script

# where roles are stored
roles_path = roles

#
# Connection related settings
#

# Ignore SSH keys
ssh_key_checking = false

[paramiko_connection]
look_for_keys = false

# help ansible to be more tolerant of network latency
# downside is you might have to wait a lot longer for it to fail in lab contexts
[persistent_connection]
connect_timeout = 30
command_timeout = 30
connect_retry_timeout = 30