[defaults]

# Ignore SSH keys, depending on your target devices
ssh_key_checking = false

# Don't gather facts unless told to as network devices don't support setup module
gathering = explicit

# default inventory
inventory = inventory.yaml

# save .retry files out of the way
retry_files_save_path = ~/.ansible/retry/

# save .log files out of the way
log_path = ~/.ansible/logs/ansible.log

# How to display the logs from ansible
# `ansible-doc -t callback -l` for more options
# stdout_callback = skippy
stdout_callback = debug

# performance
forks = 20
pipelining = true

# Inventory Plugins
enable_plugins = yaml, script

# where roles are stored
roles_path = roles

# help ansible to be more tolerant of network latency
# downside is you might have to wait a lot longer for it to fail in lab contexts
[persistent_connection]
connect_timeout = 60
command_timeout = 30
